$blue: blue;
$red: red;
$default: white;

.board {
  user-select: none;
  background: url("src/assets/images/a.jpg");
  background-color: transparent;
  height: 600px;
  width: 600px;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border: 2px solid white;
}
.splayer {
  position: absolute;
  top: 190px;
  left: 50px;
}
#a1 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 17%;
  left: 13%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#a2 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  top: 17%;
  left: 23%;
  position: absolute;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#a3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 17%;
  left: 33%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#a4 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 17%;
  left: 43%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#a5 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 17%;
  left: 53%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#a6 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 17%;
  left: 63%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#a7 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 17%;
  left: 73%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}

#b1 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 13%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#b2 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 23%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#b3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 33%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#b4 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 43%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#b5 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 53%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#b6 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 63%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#b7 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 31%;
  left: 73%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}

#c1 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 13%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#c2 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  top: 45%;
  left: 23%;
  position: absolute;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#c3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 33%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#c4 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 43%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#c5 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 53%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#c6 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 63%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#c7 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 73%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}

#d1 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 13%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#d2 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 23%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#d3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 33%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#d4 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 43%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#d5 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 53%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#d6 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 63%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#d7 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 59%;
  left: 73%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}

#e1 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 73%;
  left: 13%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#e2 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  top: 73%;
  left: 23%;
  position: absolute;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#e3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 73%;
  left: 33%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#e4 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 73%;
  left: 43%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#e5 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 73%;
  left: 53%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#e6 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 73%;
  left: 63%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#e7 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 73%;
  left: 73%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}

#f1 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 13%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#f2 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 23%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#f3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 33%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#f4 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 43%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#f5 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 53%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#f6 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 63%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}
#f7 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 87%;
  left: 73%;
  border: 1px solid violet;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 2px;
  opacity: 0.8;
}

.column {
  width: 56px;
  padding: 3px;
  float: left;
}

.redclass {
  background-color: $red;
}

.blueclass {
  background-color: $blue;
}

.defaultclass {
  background-color: $default;
  color: $default;
}

.defaultcontainer {
  color: $default;
}

.redcontainer {
  color: $red;
}

.bluecontainer {
  color: blue;
}

.arrowdefaultclass {
  cursor: pointer;
  position: absolute;
  top: -2%;
  content: "\2193";
  font-size: 100px;
  width: 50px;
  color: inherit;
  background-color: transparent;
}
.arrowredclass {
  cursor: pointer;
  position: absolute;
  top: -2%;
  content: "\2193";
  font-size: 4px;
  font-size: 100px;
  width: 50px;
  color: inherit;
  background-color: transparent;
}
.arrowblueclass {
  cursor: pointer;
  position: absolute;
  top: -2%;
  content: "\2193";
  font-size: 4px;
  font-size: 100px;
  width: 50px;
  color: inherit;
  background-color: transparent;
}

#fillcol1 {
  position: absolute;
  left: 14%;
}
#fillcol2 {
  position: absolute;

  left: 24%;
}
#fillcol3 {
  position: absolute;

  left: 34%;
}
#fillcol4 {
  position: absolute;

  left: 44%;
}
#fillcol5 {
  position: absolute;

  left: 54%;
}
#fillcol6 {
  position: absolute;

  left: 64%;
}
#fillcol7 {
  position: absolute;

  left: 74%;
}
